@import './reset.css';

html {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}

.app,
.button-row,
.display {
  display: flex;
}

.app {
  width: 700px;
  flex-direction: column;
}

.display,
.button-row {
  height: 100px;
}

.display {
  background-color: #808080;
  color: #fff;
  font-weight: bold;
  width: 100%;
  justify-content: right;
  align-items: center;
  padding: 20px;
}

.button {
  border: solid 1px #333;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
